body {
  background-color: black;

  color: #cecece;

  margin: 50px;
}

.button__log-in {
  padding: 10px;
  width: 90px;

  border: none;
  border-radius: 10px;

  font-weight: bold;
  font-size: 16px;
  color: black;

  background-color: white;

  box-shadow: 0 0 15px 2px orange;
}

.button__log-in:active {
  box-shadow: 0 0 15px 4px orange;
}


